.ProfileCard {
  &__imageBorder {
    border-radius: 50%;
    border: 2px solid white !important;
  }

  @media screen and (max-width: 374px) {
    width: 90%;
    height: 240px;
  }

  @media screen and (min-width: 375) and (max-width: 749px) {
    width: 90%;
    height: 240px;
  }

  @media screen and (min-width: 750px) and (max-width: 1439px) {
    width: 30%;
    height: 520px;
  }

  @media screen and (min-width: 1440px) {
    width: 240px;
    height: 520px;
  }
}
