.TrackingCard {
  &:hover .TrackingCard__informationText {
    @apply text-secondary-pale-blue;
  }

  &__ellipsis {
    fill: #bbc0ff;
  }

  &__ellipsis:hover {
    fill: white;
  }

  &__informationText {
    @apply text-secondary-desaturated-blue;
  }

  @media screen and (max-width: 374px) {
    width: 90%;
    height: 240px;
  }

  @media screen and (min-width: 375px) and (max-width: 767px) {
    width: 70%;
    height: 240px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 90%;
    height: 240px;
  }

  @media screen and (min-width: 1440px) {
    width: 280px;
    height: 240px;
  }
}
