.TrackingCard {
  &:hover {
    // opacity: 70%;
  }

  &__ellipsis {
    fill: #bbc0ff;
  }

  &__ellipsis:hover {
    fill: white;
  }

  @media screen and (max-width: 374px) {
    width: 90%;
    height: 240px;
  }

  @media screen and (min-width: 375) and (max-width: 749px) {
    width: 90%;
    height: 240px;
  }

  @media screen and (min-width: 750px) and (max-width: 1439px) {
    width: 90%;
    height: 240px;
  }

  @media screen and (min-width: 1440px) {
    width: 280px;
    height: 240px;
  }
}
