@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  @apply bg-secondary-very-dark-blue;
}

.layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 280px);
}
